.skeleton {    
    margin: 1.5rem 0rem;
    width: 100%;
}

.snake {
    height: 1px;
    width: 100px; 
    background-color: #00ff00;
    position: relative;
    margin: 1rem 2rem;
    animation: snake 5s infinite;
  }
  
  @keyframes snake {
    0% {
      left: 0;
      box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
    }
    100% {
      left: 100%;
      box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
    }
  }