.searchContainer {
    position: sticky;
    top: 0;
    width: 100%;
}

.search {
    width: 80%;
    height:32px;
    font-size: 18px;
    outline: 2px solid ;border-radius: .15rem;
}

.search:focus { 
    width: 80%;
    height:32px;
    font-size: 18px;
    outline: 2px solid #00ff00;border-radius: .15rem;
    
}

.searchWhat {
    font-size: 84px;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #00ff00, #0000ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


  