
.detailHeader {
    padding: 1rem 0rem;
}

.avatar {
    border-radius: 50%;
    padding: 2rem 2rem;
}

.item {
    font-size: small;
    font-weight: 300;
}

.url {
    composes: item;
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
}
