.label {
    width:25px;
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 300;
}

.tag {
    composes: label;
    color:  rgb(202, 202, 202);
    border: 1px solid rgb(120, 120, 120);
    background-color: rgb(120, 120, 120, .2);
}

.red {
    composes: label;
    color:  rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0, .2);
}


.amber {
    composes: label;
    color: rgb(255, 200, 0);
    border: 1px solid rgb(255, 200, 0);
    background-color: rgb(255, 200, 0, 0.2);
}


.green {
    composes: label;
    color: rgb(0, 255, 0);
    border: 1px solid rgb(0, 255, 0);
    background-color: rgb(0, 255, 0, 0.2);
}
