.container {
    height: 100vh;
  display: grid;
  overflow: auto;
  position: relative;
  width: 100%;
  margin: 1.5rem 0rem;
}

.header {
    font-size: small;
    font-weight: 200;
    display: flex;
}

.left {
    align-items: flex-start;
}
.left {
    align-items: flex-end;
}

.nextPrev {
    display: flex;
    margin: 1.5rem 0rem;
}

.resultCount {
    font-size: small;
    font-weight: 200;
}

.resultItem {
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem;
    width: relative;
}

.avatar {
    border-radius: 50%;
    padding-right: 1rem;
}

.url {
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
}

.url:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
}

.tag {
    font-size: small;
    font-weight: 300;
    margin-right: 5px;
}

.snake {
    height: 1px;
    width: 100px; 
    background-color: #00ff00;
    position: relative;
    margin: 0rem 1rem;
    animation: snake 5s infinite;
  }
  
  @keyframes snake {
    0% {
      left: 0;
      box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
    }
    100% {
      left: 100%;
      box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
    }
  }
