.detailContainer {    
    padding: 2rem;
}

.detailHeader {
    padding: 1rem 0rem;
}

.detailAvatar {
    composes: avatar from "../result/result.module.css";
}

.item {
    font-size: small;
    font-weight: 300;
}

.url {
    composes: item;
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
}

.avatar {
    width: 60px;
    border-radius: 50%;
    padding-right: 20px;
}